In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer

In [2]:
# Load your dataset
dataset = pd.read_csv('../data/Student_Performance.csv')

In [6]:
dataset.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [8]:
# Encode 'extracurricular_activities' column to numerical values
label_encoder = LabelEncoder()
dataset['Extracurricular Activities'] = label_encoder.fit_transform(dataset['Extracurricular Activities'])

In [9]:
dataset.isnull().sum()

Hours Studied                       0
Previous Scores                     0
Extracurricular Activities          0
Sleep Hours                         0
Sample Question Papers Practiced    0
Performance Index                   0
dtype: int64

In [11]:
dataset.duplicated().sum()

127

In [12]:
dataset = dataset.drop_duplicates()

In [13]:
# Save the updated dataset
dataset.to_csv('../data/updated_preprocessed_dataset2.csv', index=False)